<div class="footer-container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-12 col-md-4 text-center text-md-start mb-3 mb-md-0">
            <p class="mb-0 text-white">&copy; 2024 Sistema Integrado de Salud Universidad de las Fuerzas Armadas ESPE</p>
        </div>

        <div class="col-12 col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0">
            <a href="/" class="text-white text-decoration-none">
                <img src="/images/LOGO ESPE MED.png" alt="Logo" width="40" height="32">
            </a>
        </div>

        <ul class="nav col-12 col-md-4 justify-content-center justify-content-md-end">
            <li class="nav-item"><a href="#" class="nav-link text-white">Añadir Pacientes</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white">Dashboard</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white">Turnos</a></li>
        </ul>
    </footer>
</div>
